{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Nuevo libro:</title>
<body>
     <h1>Registrar nuevo libro:</h1>

    <form  method="POST">{% csrf_token %}
        {{ form.as_p }}

        <input class="btn btn-primary" type="submit" value="guardar" href="lib/">
        
        <a href="nuevo_lib/" class="btn btn-primary">salir</a>
    </form>
    


</body>

{% endblock %}
</html>